
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ms-Grid-row ms-bgColor-red  ms-fontColor-white intro">
    <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1 jumbotron">
        <h2 class="ms-font-su ms-fontColor-white">Welcome @ViewBag.UserName!</h2>
        <p class="ms-font-xl ms-fontColor-white"><b>Sogeti SharePoint Site Provisioning - </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec augue nibh. Nullam laoreet tortor blandit felis porta viverra. Morbi sapien dolor, feugiat ut tincidunt eget, lacinia a dui. Vestibulum consectetur quam ut diam scelerisque, a laoreet arcu volutpat. Mauris vulputate lectus lacus.</p>
        <a href="http://dev.office.com" class="ms-Button"><span class="ms-Button-label">Learn more &raquo;</span></a>
    </div>
</div>

<div class="ms-Grid-row ms-Grid spacer">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg4">
                <h2 class="ms-font-xl ms-fontWeight-semibold">Overview</h2>
                <p class="ms-font-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec augue nibh. Nullam laoreet tortor blandit felis porta viverra. Morbi sapien dolor, feugiat ut tincidunt eget, lacinia a dui. Vestibulum consectetur quam ut diam scelerisque, a laoreet arcu volutpat. Mauris vulputate lectus lacus.</p>
                <p class="ms-Button">
                    <a class="ms-Button-label" href="http://go.microsoft.com/fwlink/?LinkID=294440">
                        Learn more &raquo;
                    </a>
                </p>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg4">
                <h2 class="ms-font-xl ms-fontWeight-semibold">Sub site creation</h2>
                <p class="ms-font-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec augue nibh. Nullam laoreet tortor blandit felis porta viverra. Morbi sapien dolor, feugiat ut tincidunt eget, lacinia a dui. Vestibulum consectetur quam ut diam scelerisque, a laoreet arcu volutpat. Mauris vulputate lectus lacus.</p>
                <p class="ms-Button">
                    <a class="ms-Button-label" href="https://github.com/officedev/office-ui-fabric">
                        Learn more &raquo;
                    </a>
                </p>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg4">
                <h2 class="ms-font-xl ms-fontWeight-semibold">Site Collection Creation</h2>
                <p class="ms-font-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec augue nibh. Nullam laoreet tortor blandit felis porta viverra. Morbi sapien dolor, feugiat ut tincidunt eget, lacinia a dui. Vestibulum consectetur quam ut diam scelerisque, a laoreet arcu volutpat. Mauris vulputate lectus lacus.</p>
                <p class="ms-Button">
                    <a class="ms-Button-label" href="http://go.microsoft.com/fwlink/?LinkID=294441">
                        Learn more &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

