@model Sogeti.ProvisioningWeb.Models.SiteTemplateViewModel




<div class="ms-Grid sogeti-Security" style="margin-left: 10px">
    <div class="ms-Grid-row">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm3 ">
                <h2 class="ms-font-l ms-fontWeight-regular">Administrator</h2>
                <div class="ms-list" id="adminList">
                    <div>
                        <div class="addPersonIcon">
                            <i class="ms-Icon ms-Icon--personAdd"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ms-Grid-col ms-u-sm3 ">
                <h2 class="ms-font-l ms-fontWeight-regular">Owner</h2>
                <div class="ms-list" id="ownerList">
                    <div>
                        <div class="addPersonIcon">
                            <i class="ms-Icon ms-Icon--personAdd"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ms-Grid-col ms-u-sm3">
                <h2 class="ms-font-l ms-fontWeight-regular">Member</h2>
                <div class="ms-list" id="memberList">
                    <div>
                        <div class="addPersonIcon">
                            <i class="ms-Icon ms-Icon--personAdd"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ms-Grid-col ms-u-sm3">
                <h2 class="ms-font-l ms-fontWeight-regular">Visitor</h2>
                <div class="ms-list" id="visitorList">
                    <div>
                        <div class="addPersonIcon">
                            <i class="ms-Icon ms-Icon--personAdd"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




