<div class="ms-Dialog" id="deleteConfirmationModal">
    <div class="ms-Overlay"></div>
    <div class="ms-Dialog-main">
        <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">Template Delete confirmation</p>
        </div>
        <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
                <p class="ms-Dialog-subText">Are you sure you want to delete @Model?</p>
            </div>
            <div class="ms-Dialog-actions">
                <div class="ms-Dialog-actionsRight">
                    <button class="ms-Dialog-action ms-Button ms-Button--primary confirmModal" id="@Model">
                        <span class="ms-Button-label" id="confirmModal">Yes, Delete</span>
                    </button>
                    <button class="ms-Dialog-action ms-Button cancelModal">
                        <span class="ms-Button-label">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>