@model Sogeti.ProvisioningWeb.Models.SiteTemplateViewModel
@{
    ViewBag.Title = "Select User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ms-Grid-row ms-bgColor-themeDark ms-fontColor-white intro">
    <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1 jumbotron">
        <h2 class="ms-font-su ms-fontColor-white">@ViewBag.Title</h2>
    </div>
</div>
<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1 ">
        <div class="ms-ListItem is-unread is-selectable">
            <span class="ms-ListItem-primaryText">Tanya Pierce</span>
            <span class="ms-ListItem-secondaryText">Meeting notes</span>
            <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
            <span class="ms-ListItem-metaText">2:42p</span>
            <div class="ms-ListItem-selectionTarget js-toggleSelection"></div>
            <div class="ms-ListItem-actions">
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
            </div>
        </div>
        <div class="ms-ListItem is-unread is-selectable">
            <span class="ms-ListItem-primaryText">Rob Pierce</span>
            <span class="ms-ListItem-secondaryText">Meeting notes</span>
            <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
            <span class="ms-ListItem-metaText">2:56p</span>
            <div class="ms-ListItem-selectionTarget js-toggleSelection"></div>
            <div class="ms-ListItem-actions">
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
            </div>
        </div>

        <br />
        <div>
            <button class="ms-Button ms-Button--primary"
                    onclick="location.href = '/SiteTemplate/Index?@SharePointContext.CloneQueryString(ViewContext.HttpContext.Request)'">
                <span class="ms-Button-label">Back to list</span>
            </button>
        </div>
    </div>
</div>